<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue_v-model</title>
</head>
<body>


<h2>基础用法</h2>

<h3>文本</h3>

<div id="app-1">
    <input v-model="message" placeholder="edit me">
    <p>{{ message }}</p>
</div>

</hr>

<h3>多行文本</h3>

<div id="app-2">
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
    <br>
    <p style="white-space: pre-line">{{message}}</p>
</div>

<h3>复选框</h3>

<div id="app-3">
    <input type="checkbox" value="Jack" id="jack" v-model="checkNames">
    <label for="jack">Jack</label>
    <input type="checkbox" value="Tom" id="tom" v-model="checkNames">
    <label for="tom">Tom</label>
    <input type="checkbox" value="Mike" id="mike" v-model="checkNames">
    <label for="mike">Mick</label>

    <p>{{checkNames}}</p>
</div>

<h3>单选按钮</h3>
<div id="app-4">
    <label for="one">One</label>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="two">Two</label>
    <input type="radio" id="two" value="Two" v-model="picked">

    <p>{{picked}}</p>
</div>

<h3>选择框</h3>
<div id="app-5">
    <select multiple v-model="selected">
        <option disabled value="">请选择</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
    </select>
    <p>selected: {{selected}}</p>
</div>

<div id="app-6">
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option v-for="option in options" v-bind:value="option.value" :key="option.id">
            {{option.text}}
        </option>
    </select>

    <p>selected: {{selected}}</p>
</div>

<hr>

<h2>值绑定</h2>

<h3>复选框</h3>

<div id="app-7">
    <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">

    <p>checked: {{toggle}}</p>
</div>

<h3>单选按钮</h3>

<div id="app-8">
    <label for="option1">Option1: </label>
    <input type="radio" v-model="selected" v-bind:value="{value: 'A'}" id="option1">
    <label for="option2">Option2: </label>
    <input type="radio" v-model="selected" v-bind:value="{value: 'B'}" id="option2">

    <p>selected: {{selected.value}}</p>
</div>

<hr>

<h2>修饰符</h2>

<h3>.lazy</h3>

<div id="app-9">
    <!--在 change 时而非 input 时更新-->
    <input v-model.lazy="msg">
    <p>lazy: {{msg}}</p>
</div>

<div id="app-10">
    <label>type of age is number</label>
    <input v-model.number="age" type="number">
    <p>age: {{age}}</p>
</div>

<div id="app-11">
    <label>trim space</label>
    <input v-model.trim="msg">
    <p>msg: {{msg}}</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./index.js"></script>
</body>
</html>